*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}




.inicio{
    padding: 40px;
    padding-left: 200px;
    background-color: black;
    
    
}

.auto{
    padding: 10px;
    margin: 10px;
}

.card {
    margin-bottom: 10px;
    display: flex;
    justify-content:center ;
}
.card1{
    position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:white;
  background-clip: border-box;
  border: 2px solid black ;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}


.subtitulo{
    font-weight: bold;
    margin: 10px;
}
h3{
    font-weight: bold;
    margin: 10px;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.auto{
    padding: 10px;
    margin: 10px;
}

.sucursales{
    padding: 10px;
}

.servicios{
    padding: 10px;
    padding-left: 300px;
}
.contacto{
    padding: 10px;
}

.promImagen {width: 300px;
    height: 300px;
    margin:40px;}  
    
